<section class="widget-container abs-center">
    <h1>McLean, VA</h1>
    <div class="current-temp">
        <span><em>57 <sup>o</sup></em></span>
        <span>
            <figure>
                <img src="http://openweathermap.org/img/w/04n.png" alt="Cloudy" />
                <figcaption><small> Cloudy</small></figcaption>
            </figure>
        </span>
    </div>
    <ul class="temp-list">
        <li>
            <span><strong>Wed</strong></span>
            <span>61 <sup>o</sup> / 65 <sup>o</sup></span>
        </li>
        <li>
            <span><strong>Thu</strong></span>
            <span>61 <sup>o</sup> / 65 <sup>o</sup></span>
        </li>
        <li>
            <span><strong>Fri</strong></span>
            <span>61 <sup>o</sup> / 65 <sup>o</sup></span>
        </li>
        <li>
            <span><strong>Sat</strong></span>
            <span>61 <sup>o</sup> / 65 <sup>o</sup></span>
        </li>
        <li>
            <span><strong>Sun</strong></span>
            <span>61 <sup>o</sup> / 65 <sup>o</sup></span>
        </li>
    </ul>    
</section>
